<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Vue -->
    <!-- 도움되는 콘솔 경고를 포함한 개발 버전 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <form id="main">
        <div class="bar">
            <input 
                type="text"
                v-model="searchString" 
                placeholder="Enter your search terms"
                >
        </div>
        <ul>
            <li v-for="movie in filteredMovies">
                <img v-bind:src="movie.image"/> <!-- attribute시키기 위해 v-bind 사용 --> 
                <p>{{ movie.title }}</p>
            </li>
        </ul>
    </form>
    <script src="./vue.js"></script>
</body>
</html>